<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Flask Blog!</h1>
    {% for post in posts %}
        <div class="post">
            <h2>{{ post["title"] }}</h2>
            <p><em>Written by ...</em></p>
            <p>{{ post["content"] }}</p>
        </div>
    {% endfor %}
</body>
</html>
